ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#000033;
  }
  
  li {
	float: left;
	border-right:1px solid #bbb;
  }
  
  li:last-child {
	border-right: none;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover:not(.active) {
	background-color: #111;
  }
  
  .active {
	background-color: #4CAF50;
  }
  body { 
    background: url("/images/explore.jpg") no-repeat center center fixed ; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  H1{
      color: white;
  }
  .sc{
    border: 3px solid white;
    border-radius: 3px  ;
    width:800px;
    overflow-y: auto;
    height: 320px;
  }
  